<div class="menu_section">
    <span class="mtitle"><img src="assets/img/menu_ncvoa.jpg" alt="NCVOA Chico" title="NCVOA Chico" /></span>
    <ul id="ncvoa">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
    </ul>
</div>
<div class="menu_section">
    <span class="mtitle"><img src="assets/img/menu_docs.jpg" alt="Documents" title="Documents" /></span>
    <ul id="docs">
        <li><a href="docs/2010_constitution.doc">Constitution</a></li>
        <li><a href="docs/2024_NCVOA_meeting_schedule.pdf">2024 Meeting Schedule</a></li>
    </ul>
</div>
<div class="menu_section">
    <span class="mtitle"><img src="assets/img/menu_forms.jpg" alt="Forms" title="Forms" /></span>
    <ul id="forms">
        <li><a href="forms/2024_NCVOA_independent_contractor_agreement.pdf">Independent Contractor Agreement</a></li>
        <li><a href="forms/2024_availability.pdf">Availability Form</a></li>
        <li><a href="forms/liberotrackingsheet.pdf">Libero Tracking Sheet</a></li>
        <li><a href="forms/vbscoringsheet.pdf">CIF Scoring Sheet</a></li>
        <li><a href="forms/2013_conflict.doc">Conflict of Interest</a></li>
    </ul>
</div>
<div class="menu_section">
    <span class="mtitle"><img src="assets/img/menu_links.jpg" alt="Links" title="Links" /></span>
    <ul id="links">
        <li><a href="http://www.cifns.org">CIF Northern Section</a></li>
        <li><a href="http://www.cifss.org">CIF Southern Section</a></li>
        <li><a href="http://www.maxpreps.com">Max Preps</a></li>
    </ul>
</div>
